/* css for project 2 e2 */
/* game simulation with user input */

body {
	font-size:  1.3rem;
	margin: 1rem;
	color: #4b0082;
	background-color: #ffefd5;
	font-family: 'Oxygen', Arial, sans-serif;
}
main {
	padding: 2em;
	background-image: url(5x5odd-trans.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: auto;
	background-size: contain;
}
div {
	width: 90%;
	margin: 2em auto;
	padding: 1em;
	max-width: 800px;
	background-color: rgba(255,255,224,.3);
}
ul li {
	list-style: none;
	text-align: left;
	line-height: 2em;
}
h1 {
	color: #c71585;
}

h2, h3 {
	color: #dc143c;
}

.playerA {
	color: #1e90ff;

}
.playerB {
	color: #40e0d0;

}
.winner {
	font-size: 1em;
	font-weight: bolder;
	text-transform: uppercase;
	color: #ff4500;
}

.total {
	font-weight:  bold;
	color:  #ff145a;
}

