/* css for project 2 e2 */
/* game simulation with user input */

body {
	font-size:  .8rem;
	margin: 1rem;
	color: #4b0082;
	background-color: #ffefd5;
	font-family: 'Oxygen', Arial, sans-serif;
}
main {
	margin: 0 auto;
	width: 90%;
}
div {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
	background-color: rgba(255,255,224,.3);
	border-radius: 40px;
}
ul li {
	list-style: none;
	text-align: left;
	line-height: .7em;
}
h1 {
	color: #c71585;
	font-size: 1.2em;
	line-height: 1.3em;
}

h2{
	color: #dc143c;
	font-size: .9rem;
	line-height: .8em;
}
h3 {
	color: #a32cc4;
	margin-bottom: .02em;
	font-size: .9rem;
	text-transform: uppercase;
}

.image {
	padding: .5em;
	border-radius: 35px 10px;
}

.results {
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
}

.correct {
	font-size: 1em;
	font-weight: bolder;
	letter-spacing: .1em;
	color: #66cdaa;
}

.incorrect {
	color: #ff4500;
}

.clue {
	font-weight: bold;
	color: #a32cc4;
}

