/* css for project 1 e2 */
/* game simulation */

body {
	font-size:  1.3rem;
	margin: 1rem;
	color: #128;
	background-color: #e6e6fa;
}
main {
	padding: 2em;
}
ul li {
	list-style: none;
	text-align: left;
	line-height: 2em;
}

h1, h2 {
	color: #4b8e90;
}

.playerA {
	color: #1e90ff;

}
.playerB {
	color: #40e0d0;

}
.winner {
	font-size: 1em;
	font-weight: bolder;
	letter-spacing: .1em;
	color: #ff69b4;
}

.total {
	font-weight:  bold;
	color:  #ff145a;
}

