/* game.css – @import for fonts at end, commented out */
/*-- ******** Custom Variables ******** --*/
:root {
	--radius: 5px;

	--sans-serif-font: 'Montserrat', Arial, Helvetica, sans-serif;
	--serif-font: 'Merriweather', Georgia, Times, serif;
	--cursive: 'Merienda', 'Bradley Hand', cursive;

	--white: #ffffff;
	--silver: #dddddd;
	--gray: #aaaaaa;
	--black: #000000;

	--peacock: #2a6e7a;
	--tealblue: #367588;
	--imperial: #006c7f;
	--darkteal: #004c54;
	--teal: #008080;

	--navy: #001f3f;
	--blue: #0074d9;
	--lightblue: #cae9fb;
	--aqua: #7fdfff;

	--maroon: #85144b;
	--cranberry: #b70a57;
	--red: #ff4136;
	--salmon: #ffa096;
	--papayawhip: #ffefd5;

	--indigo: #4b0082;
	--purple: #b10dc9;
	--mediumpurple: #9370db;
	--pewter: #ece3f0;

	--canary: #ffff99;
	--olive: #3d9970;
}

/*-- ******** MAIN ******** --*/
/* universal box-sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 1rem;
	color: var(--gray);
	font-family: var(--sans-serif-font);
	overflow-y: scroll;
}
body {
	font-size: 1.1rem;
	color: var(--darkteal);
	background-color: var(--papayawhip);
	font-family: var(--san-serif-font);
}
main {
	margin: 10px auto;
	max-width: 980px;
	width: 100%;
	margin: auto;
	margin-top: 2rem;
}

header {
	margin: 20px;
	text-align: center;
}

div {
	margin: 0 auto;
	padding: 1.5em;
	background-color: rgba(255, 255, 224, .1);
	border-radius: 10px;
	max-width: 720px;
	width: 100%;
}

h1 {
	color: var(--cranberry);
	text-align: center;
	display: inline-block;
	padding: 1px;
}

h2 {
	color: var(--purple);
}
h3 {
	color: var(--mediumpurple);
	text-transform: uppercase;
}

.image {
	margin: 5pxm;
	width: 40%;
	height: 40%;
}

.winner {
	color: var(--tealblue);
	font-size: 1.6rem;
}

.history a {
	color: var(--olive);
}

.game a {
	color: var(--peacock-blue);
}

.rounds {
	padding: 1px;
	color: var(--teal);
}
.right {
	text-align: right;
}
.left {
	text-align: left;
	padding: .2em 1em;
}
ul.left {
	padding: 0 2em;
	list-style-type: square;
	list-style-position: outside;
}
.center {
	text-align: center;
	padding: 10px;
	margin: -20px 0 0;
}
.margin {
	margin: -10px 0 0;
}
.inline {
	display: inline-block;
}
.detail {
	font-size: .9rem;
	margin-top: 1em;
	color: var(--gray);
}

ul li {
	list-style-type: none;
}
dl {
	font-weight: normal;
}

dd,
dt {
	line-height: 1.5;
	margin-left: 0;
}

dt {
	font-weight: normal;
}
dd {
	font-weight: lighter;
}

#logo {
	padding-left: 5%;
}
/*-- ******** FORM ******** --*/
input,
textarea {
	font-size: 1.1rem;
	color: var(--imperial);
	border-radius: 7px;
}

.controls,
.btn {
	font-size: 1.4rem;
}

.btn {
	margin: 10px;
	border: 1px solid var(--imperial);
	border-radius: 7px;
	background-color: var(--pewter);
}
.btn a:hover,
.btn a:active {
	color: var(--salmon);
}

label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 5px;
	padding-right: 10px;
}

ul.error {
	list-style-type: none;
}
